body{
    /*IDK if these fonts are even commonly available lol they're on Google Docs all the time */
    font-family: Calibri, Roboto;
}

#title_box{
    color: #309fff;
    border-width: 5px;
    border-style: solid;
    border-style: none none solid none;
    border-color: #7FD8BE;
    position: relative;
    left: 20%;
    width: 60%;
    text-align: center;
}

main{
    position: relative;
    margin-left: 10%;
    padding-left: 10%;
}

.main_section{
    margin: 30px 0px 0px 0px;
    position: relative;
}

#attendance_float{
    position: absolute;
    top: 20%;
    left: 30%;
    width: auto;
    height: auto;
    color: #FCD29F;
    border-style: solid;
    border-width: 1mm;
    border-radius: 0.2cm;
    padding: 1px 2px 3px 4px;
    margin: auto;
    background-color: #fafafa;
}

#attendance_float:hover{
    background-color: #dcdcdc;
    color: #a4a4a4;
}

#topic_list{
    display: inline-block;
}

#misc{
    display: inline;
}

#meeting_list_float{
   font-size: 1.1em; 
   height: 2.0ex;
   width: 10rem;
   border-style: none none solid;
   border-color: #FCD29F;
   border-width: 4px;
   min-width: 30px;
   max-width: 200px;
   left: 30%;
   top: 8%;
   text-align: center;
   position: absolute;
}

#flex_div{
    position: absolute;
    bottom: 5%;
    left: 40%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #408ddd;
    padding: 3px;
    justify-content: flex-start;
}

.flex_item{
    margin: 1px 4px 1px;
    background-color: #FCD29F;
    padding: 1px;
}

@media screen{
body{
    color: #020202;
}
}

.form_button:active{
    background-color: #dd30dd;
}

footer{
    position: relative;
    margin-left: 10%;
    padding-left: 10%;
}